mixin intro()
  section.intro
    .container
      h1.visually-hidden Nootris
      h2.intro__title Активируй иммунитет!
      p.intro__text Всего пять секунд в день помогут укрепить иммунитет и повысить защитные силы организма
      h3.intro__subtitle NOOTRIS ПОМОГАЕТ
      p.intro__subtext Вашему организму во время пандемии и сезонных простуд

